.button{
    background-color: rgba(201, 96, 83, 1) !important; 
    border-radius: 25px !important;
    clear: both !important;
    color: white !important;
    display: inline-block !important;
    font-size: calc(1rem + 0.6vw) !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    overflow: hidden !important;
    padding: 6px 15px !important;
    white-space: nowrap !important;
}